<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="bupt.com.travelandroid">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Acvivity.RegisterActivity"></activity>
        <activity android:name=".Acvivity.LoginActivity"></activity>
        <activity android:name=".Acvivity.RegisterMessageActivity"></activity>
        <activity android:name=".Acvivity.FindPasswordActivity"></activity>
        <activity android:name=".Acvivity.ResetPasswordActivity"></activity>
        <activity android:name=".Acvivity.HomeActivity"></activity>
        <activity android:name=".Acvivity.MakingTraveActivity"></activity>
        <activity android:name=".Acvivity.TravelListActivity"></activity>
        <activity android:name=".Acvivity.DetailTravelActivity"></activity>
        <activity android:name=".Acvivity.TrafficActivity"></activity>
        <activity android:name=".Acvivity.PlaceActivity"></activity>
        <activity android:name=".Acvivity.ReturantActivity"></activity>
        <activity android:name=".Acvivity.HouseActivity"></activity>
        <activity android:name=".Acvivity.NoteActivity"></activity>
        <!-- ATTENTION: This was auto-generated to add Google Play services to your project for
     App Indexing.  See https://g.co/AppIndexing/AndroidStudio for more information. -->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
    </application>

</manifest>